<div id="topBanner" class="row flex-nowrap justify-content-around align-items-center clearfix">

  <div class="col-xs-6">  
  <a routerLink="/">
   <div id="bannerText">
     D. Liam Anderson
     </div>
  </a>
  </div>

  <div id="navMenuChunk" class="col float-right">
    <a routerLink="/" class="button fancy-button bracketed"><i class="material-icons">home</i></a>
   <a routerLink="/resume" class="button fancy-button bracketed"><i class="material-icons">work_outline</i></a>
   <a routerLink="/contact" class="button fancy-button bracketed"><i class="material-icons">mail_outline</i></a>
  </div>

</div>