a{
  text-decoration: none;
}
.homeBG{
   background-color: #9ABCF5;
   min-height: 600px; 
   overflow-x:hidden;
}
.stuffHolder{
margin-top: 5%;
margin-bottom: 5%;
min-height: 400px;

}

.stuffSelector{

  background-color: white;
  align-content: center;
  border-radius: 40px;
  min-height: 100px;
}
.stuffSelectorText{
  padding-left: 20px;
  font-size: 36px;
  letter-spacing: -2px;
  color: #6B88FE;
  background-color:none;
}

.numberOfStuffs{
  background-color:#6B88FE;
  min-height: 100px;
  color: white;
  border: 4px solid;
	border-image: linear-gradient(to right, white 0%, white 29%, transparent 30%, transparent 70%, white 71%, white 100%);
	border-image-slice: 1; 
}
.itemNumberText{
  text-align: center;
  font-size: 42px;
}
.itemNumberText p
{
  font-size: 18px;
}
/******* Detail Holder *******/
.detailHolder{
  margin-left: 2%;
  margin-right: 5%;
  width: 100%;
  border-radius: 40px;
  min-height: 400px;
  background-color:white;
  overflow: hidden;
}
.stuffSelectorTextD{
  padding: 20px;
  padding-left: 40px;
  font-size: 36px;
  letter-spacing: -2px;
  color: #6B88FE;
  background-color:none;
}
.numberOfStuffsD{
  background-color:#6B88FE;
  width: 100%;
  color: white;
}
.detailHeader{
  display: flex;
}
.detailObj{
  width: 100%;
  margin-top: 2%;
}
.detailDate{
  font-size: 32px;
  text-align: center;
  letter-spacing: -2px;
  color: #6B88FE;
  background-color:none;
}
.detailName{
  font-size: 32px;
  letter-spacing: -2px;
  color: #6B88FE;
  background-color:none;
}
/*** Scrollbar ************************************************/
.detailHolder::-webkit-scrollbar {
    background-color: white;
    float: right;
    height: 400px;
    width: 2%;
}
.detailHolder::-webkit-scrollbar-thumb {
    background-color: #6B88FE;
    border-radius: 2%;
}
/****** MOBILE *****/
.mobileMenu{
  width:100%;
  display: none!important;
}
.stuffSelectorM{
  margin-top: 5%;
  text-align: center;
  background-color: #6B88FE;
  border: 4px solid;
  width:100%;
	border-image: linear-gradient(to right,#9ABCF5 0%, #9ABCF5 29%, transparent 30%, transparent 70%, #9ABCF5 71%, #9ABCF5 100%);
  border-image-slice: 1; 
}
.stuffSelectorTextM{
  font-size: 16px;
  color: white;
  justify-content: center;
}

@media(max-width: 800px) {
  .stuffHolder
  {
   display: none!important; 
  }
  .detailHeader{
   display: none!important;
  }
  .stuffSelectorText{
   font-size: 26px; 
  }
  .itemNumberText{
   font-size: 26px;
  }
  .mobileMenu{
  display: flex!important; 
 }
}
