
<div class="homeBG h-100 d-flex">


  <div class="stuffHolder justify-content-between col-4 d-flex flex-column h-60">
    <a routerLink="/detail">
    <div class="stuffSelector align-self-start d-flex align-items-center">
    <div class="stuffSelectorText col-8">
    Coding Stuff
    </div>
    <div class="numberOfStuffs col-4 mr-auto">
    <div class="itemNumberText">  
    12
    <br>
    <p>Items</p> 
    </div> 
    </div>
    </div>
    </a>
    <a routerLink="/detail">
    <div class="stuffSelector align-self-middle d-flex align-items-center">
    <div class="stuffSelectorText col-8">
    Graphics Stuff
    </div>
    <div class="numberOfStuffs col-4 mr-auto">
    <div class="itemNumberText">  
    11
    <br>
    <p>Items</p>
    </div> 
    </div>
    </div>
    </a>
    <a routerLink="/detail">
    <div class="stuffSelector d-flex align-items-center">
    <div class="stuffSelectorText col-8">
    UX/UI Stuff
    </div>
    <div class="numberOfStuffs col-4 mr-auto">
    <div class="itemNumberText">  
    16
    <br>
    <p>Items</p>
    </div>
    </div>
    </div>
    </a>
  </div>

  <div class="d-flex flex-column detailHolder">
    <div class="mobileMenu justify-content-around d-flex">
     <a class="stuffSelectorM col-3" routerLink="/detail">
    <div class="stuffSelectorTextM">
    Coding <div>12</div>
    </div>
    </a>
    <a class="stuffSelectorM col-3" routerLink="/detail">
    <div class="stuffSelectorTextM">
    Graphics <div>11</div>
    </div>
    </a>
    <a class="stuffSelectorM col-3" routerLink="/detail">
    <div class="stuffSelectorTextM">
    UX/UI <div>16</div>
    </div>
    </a>
    </div>
    <div class="detailHeader d-flex">
    <div class="stuffSelectorTextD col-9">
      Coding Stuff
    </div> 
    <div class="numberOfStuffsD ml-auto">
     <div class="itemNumberText"> 
      11<p>Items</p>
      </div>
    </div>
  </div> 
  <div class="detailObj d-flex">
  <div class="detailDate col-4">
    7/14/19
    </div> 
  <div class="detailName col-7">
    Photoshop Billboard
    </div>
  </div>


  </div>

</div>